.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  width: 100%;
  flex: 1;
  padding: 20px;
  padding-top: 64px; /* Adjust the padding-top to the height of the header */
}

.content {
  max-width: 1200px;
  margin: auto;
}

