@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS file (e.g., index.css) */

html,body{
  padding: 0;
  margin: 0;
}

@keyframes rise {
    to {
      transform: translateY(-110vh);
    }
  }
  
  .animate-rise {
    animation: rise infinite ease-in;
  }
  